name: Test and Lint

on:
  push:
    branches:
      - main
  
jobs:
  test_and_lint:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
      
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      
      - name: Install project dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt -i https://pypi.tuna.tsinghua.edu.cn/simple
          pip install -e .
      
      - name: Install test dependencies
        run: |
          python -m pip install pytest pytest-md -i https://pypi.tuna.tsinghua.edu.cn/simple

      - name: Test with pytest
        uses: pavelzw/pytest-action@v2
        with:
          emoji: false
          verbose: false
          job-summary: true

      - name: Lint with pylint
        run: |
          python -m pip install pylint -i https://pypi.tuna.tsinghua.edu.cn/simple
          pylint flaskr --fail-under=7